force-app/main/default/flows/Select_Colleges.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_to_ApplicationCollection</name>
        <label>Add to ApplicationCollection</label>
        <locationX>897</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>Applications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApplicationsSingleRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_selected_colleges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Opty_Collection</name>
        <label>Add to Opty Collection</label>
        <locationX>1056</locationX>
        <locationY>269</locationY>
        <assignmentItems>
            <assignToReference>ApplicationsSingleRec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpty.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationsSingleRec.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOpty.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationsSingleRec.College__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_selected_colleges</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationsSingleRec.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_ApplicationCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCollegeIdSingle</name>
        <label>AssignCollegeIdSingle</label>
        <locationX>699</locationX>
        <locationY>297</locationY>
        <assignmentItems>
            <assignToReference>IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_colleges.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_colleges</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Colleges {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Select Colleges</label>
    <loops>
        <name>Loop_through_colleges</name>
        <label>Loop through colleges</label>
        <locationX>698</locationX>
        <locationY>69</locationY>
        <collectionReference>GetColleges</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignCollegeIdSingle</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Colleges</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_selected_colleges</name>
        <label>Loop through selected colleges</label>
        <locationX>976</locationX>
        <locationY>67</locationY>
        <collectionReference>CollegeTable.lstSelectedIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Opty_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirmation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Applications</name>
        <label>Create Applications</label>
        <locationX>1286</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>successscreen</targetReference>
        </connector>
        <inputReference>Applications</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetColleges</name>
        <label>GetColleges</label>
        <locationX>581</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_colleges</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>College__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>NIRF_Rank__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Ownership__c</queriedFields>
        <queriedFields>State__c</queriedFields>
        <sortField>NIRF_Rank__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpty</name>
        <label>GetOpty</label>
        <locationX>423</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetColleges</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>1160</locationX>
        <locationY>66</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Applications</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Please confirm if you want to proceed with the creation of applications for the following colleges&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>selectedcollegeconfirm</name>
            <extensionName>FDGPack:GilmoreLabs_FlowDataGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstIds</name>
                <value>
                    <elementReference>CollegeTable.lstSelectedIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strObjectName</name>
                <value>
                    <stringValue>College__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strFields</name>
                <value>
                    <stringValue>Name,NIRF_Rank__c,Ownership__c,City__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortBy</name>
                <value>
                    <stringValue>NIRF_Rank__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortDirection</name>
                <value>
                    <stringValue>asc</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Colleges</name>
        <label>Select Colleges</label>
        <locationX>872</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_through_selected_colleges</targetReference>
        </connector>
        <fields>
            <name>SelectCollegemsg</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Select colleges the student wants to hear from&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CollegeTable</name>
            <extensionName>FDGPack:GilmoreLabs_FlowDataGrid</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>lstIds</name>
                <value>
                    <elementReference>IDs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strObjectName</name>
                <value>
                    <stringValue>College__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strFields</name>
                <value>
                    <stringValue>Name,NIRF_Rank__c,Ownership__c,City__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>strObjectLink</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortDirection</name>
                <value>
                    <stringValue>desc</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortBy</name>
                <value>
                    <stringValue>NIRF_Rank__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>successscreen</name>
        <label>successscreen</label>
        <locationX>1407</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successbanner</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 22px;&quot;&gt;Applications Created !&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>successimg</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>175px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>applicationsupporttext</name>
            <fieldText>&lt;p&gt;Please click on the &lt;b&gt;Applications&lt;/b&gt; tab to view the details of the applications&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetOpty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Applications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>ApplicationsSingleRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Application__c</objectType>
    </variables>
    <variables>
        <name>IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordIdSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>College__c</objectType>
    </variables>
    <variables>
        <name>SingleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
